<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>			
				<configuration name="Demandbase" description="Demandbase items">
					<predicate>
            <include name="Modules" database="master" path="/sitecore/system/Modules/Demandbase" />
            <include name="Rules Definitions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Demandbase" />
            <include name="Elements" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/demandbase" />
            <include name="Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/demandbase" />
            <include name="Rules" database="master" path="/sitecore/system/Settings/Rules/demandbase" />
            <include name="Core" database="core" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Experience/Demandbase" />
					</predicate>				
					<dataProviderConfiguration enableTransparentSync="false" />					
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
