<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<!-- 
			Uncomment model node for Xdb storage of demandbase data
		-->
		<model>
			<elements>
				<element interface="SitecoreDemandbase.Data.Interface.IXdbFacetDemandbaseData, SitecoreDemandbase" implementation="SitecoreDemandbase.Data.XdbFacetDemandbaseData, SitecoreDemandbase" />
			</elements>
			<entities>
				<contact>
					<facets>
						<facet name="Demandbase Data" contract="SitecoreDemandbase.Data.XdbFacetDemandbaseData, SitecoreDemandbase" />
					</facets>
				</contact>
			</entities>
		</model>
		<pipelines>
			<httpRequestBegin>
				<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.EnsureServerUrl, Sitecore.Kernel']" type="SitecoreDemandbase.Pipeline.HttpRequestBegin.ValidateUser, SitecoreDemandbase" />
			</httpRequestBegin>
			<initialize>
				<processor type="SitecoreDemandbase.Pipeline.Initialize.InitializeDemandbase, SitecoreDemandbase" >
					<param name="restApi">http://api.demandbase.com/api/v2/ip.json</param>
					<param name="key">Enter your demandbase key here</param>
					<param name="demandbaseIp">4.16.87.224</param>
					<param name="autoGenerate">true</param>
					<param name="loadBalancerForwardingVariable">HTTP_X_FORWARDED_FOR</param>
					<!-- 
						Uncomment following for session storage of demandbase data
					-->
					<!--<UserService type="SitecoreDemandbase.Data.SessionUserData, SitecoreDemandbase">
						<Timeout>500</Timeout>
					</UserService>-->
					<!-- 
						Uncomment following for Xdb storage of demandbase data
					-->
					<UserService type="SitecoreDemandbase.Data.XdbUserData, SitecoreDemandbase">
						<Timeout>500</Timeout>
					</UserService>
					<!--
						You can remove the following two XML nodes to manually manage Demandbase Rules.  They are located here /sitecore/system/Settings/Rules/Definitions/Demandbase
					-->
					<AccountWatch hint="raw:BuildAccountWatch">
						<attributes>
							<attribute customizable="1">
								<type>string</type>
								<name>Account Type</name>
								<id>account_type</id>
							</attribute>
							<attribute customizable="1">
								<type>string</type>
								<name>Account Owner</name>
								<id>account_owner</id>
							</attribute>
							<attribute customizable="1">
								<type>string</type>
								<name>Account Status</name>
								<id>account_status</id>
							</attribute>
							<attribute customizable="1">
								<type>string</type>
								<name>Ad Campaign Code</name>
								<id>campaign_code</id>
							</attribute>
						</attributes>
					</AccountWatch>
					<AttributeRoot hint="raw:BuildRules">
						<attributes>
							<attribute customizable="0">
								<type>string</type>
								<name>Audience</name>
								<id>audience</id>
								<values>
									<value>Enterprise Business</value>
									<value>Mid-Market Business</value>
									<value>SMB</value>
									<value>Government</value>
									<value>Education</value>
									<value>Hospitality</value>
									<value>Residential</value>
									<value>Wireless</value>
									<value>Bot</value>
									<value>SOHO</value>
									<value>Obscured</value>
								</values>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Audience Segment</name>
								<id>audience_segment</id>
								<values>
									<value>Administration</value>
									<value>City &amp; Local</value>
									<value>Federal</value>
									<value>International</value>
									<value>Military</value>
									<value>Public Safety</value>
									<value>State</value>
									<value>Educational Services</value>
									<value>K12</value>
									<value>University</value>
									<value>Vocational</value>
									<value>Lodging</value>
									<value>Hotspot</value>
									<value>Mobile Network</value>
								</values>
							</attribute>
							<attribute customizable="1">
								<type>string</type>
								<name>Industry</name>
								<id>industry</id>
								<values>
									<value>Agriculture</value>
									<value>Home &amp; Garden</value>
									<value>Mining</value>
									<value>Energy &amp; Utilities</value>
									<value>Construction</value>
									<value>Food &amp; Beverage</value>
									<value>Textiles</value>
									<value>Apparel</value>
									<value>Manufacturing</value>
									<value>Furniture</value>
									<value>Media &amp; Entertainment</value>
									<value>Printing &amp; Publishing</value>
									<value>Biotech</value>
									<value>Pharmaceuticals</value>
									<value>Consumer Goods &amp; Services</value>
									<value>Automotive</value>
									<value>Hardware</value>
									<value>Recreation</value>
									<value>Software &amp; Technology</value>
									<value>Business Services</value>
									<value>Retail &amp; Distribution</value>
									<value>Telecommunications</value>
									<value>Aerospace &amp; Defense</value>
									<value>Transportation &amp; Logistics</value>
									<value>Healthcare &amp; Medical</value>
									<value>Hospitality &amp; Travel</value>
									<value>Real Estate</value>
									<value>Government</value>
									<value>Financial Services</value>
									<value>Education</value>
									<value>Associations</value>
									<value>Unclassified</value>
								</values>
							</attribute>
							<attribute customizable="1">
								<type>string</type>
								<name>Sub Industry</name>
								<id>sub_industry</id>
								<values>
									<value>Accessories</value>
									<value>Accounting</value>
									<value>Adhesives &amp; Sealants</value>
									<value>Administration</value>
									<value>Agents &amp; Brokerage</value>
									<value>Air Services</value>
									<value>Aircraft</value>
									<value>Animal Food</value>
									<value>Appliances</value>
									<value>Architectural</value>
									<value>Art &amp; Galleries</value>
									<value>Baked Goods</value>
									<value>Banking &amp; Finance</value>
									<value>Bars &amp; Restaurants</value>
									<value>Beverages</value>
									<value>Boating</value>
									<value>Book Stores</value>
									<value>Cable &amp; Television</value>
									<value>Chemicals</value>
									<value>Civil Construction</value>
									<value>Clerical</value>
									<value>Clinical</value>
									<value>Clothing</value>
									<value>Coffee &amp; Tea</value>
									<value>Commercial</value>
									<value>Computer &amp; Mobile Devices</value>
									<value>Confections</value>
									<value>Contractors</value>
									<value>Dairy</value>
									<value>Data &amp; Technical Services</value>
									<value>Dealers</value>
									<value>Defense Systems</value>
									<value>Department Stores</value>
									<value>Developers</value>
									<value>Distribution</value>
									<value>Educational Services</value>
									<value>Electric Services</value>
									<value>Electrical Components</value>
									<value>Electronics</value>
									<value>Employment</value>
									<value>Engines &amp; Motors</value>
									<value>Entertainers</value>
									<value>Equipment</value>
									<value>Equipment &amp; Services</value>
									<value>Exploration</value>
									<value>Facilities</value>
									<value>Farming</value>
									<value>Fasteners</value>
									<value>Fertilizers</value>
									<value>Fibers</value>
									<value>Firearms</value>
									<value>Fish &amp; Game</value>
									<value>Fixtures</value>
									<value>Footwear</value>
									<value>Forestry</value>
									<value>Fruits &amp; Vegetables</value>
									<value>Funeral Products</value>
									<value>General</value>
									<value>General Interest</value>
									<value>General Merchandise</value>
									<value>Glass Products</value>
									<value>Grains</value>
									<value>Grocery</value>
									<value>Home Furnishings</value>
									<value>Household</value>
									<value>Household Products</value>
									<value>Housewares</value>
									<value>Imaging &amp; Optics</value>
									<value>Industrial</value>
									<value>Industrial Equipment</value>
									<value>Industrial Supplies</value>
									<value>Ingredients</value>
									<value>Instruments</value>
									<value>Insurance</value>
									<value>International</value>
									<value>Investment Services</value>
									<value>Jewelry</value>
									<value>Judicial</value>
									<value>K12</value>
									<value>Laboratories</value>
									<value>Landscaping</value>
									<value>Laundry Services</value>
									<value>Legal</value>
									<value>Lighting</value>
									<value>Livestock</value>
									<value>Local Transit</value>
									<value>Lodging</value>
									<value>Lumber Products</value>
									<value>Machinery</value>
									<value>Maintenance</value>
									<value>Management Consulting</value>
									<value>Manufacturers</value>
									<value>Manufacturing</value>
									<value>Marine</value>
									<value>Marketing Services</value>
									<value>Materials</value>
									<value>Meats</value>
									<value>Media &amp; Storage</value>
									<value>Medicinal Chemicals</value>
									<value>Metal Fabrication</value>
									<value>Metal Products</value>
									<value>Metals</value>
									<value>Mines</value>
									<value>Mobile Homes</value>
									<value>Motorcycles &amp; Bicycles</value>
									<value>Natural Gas</value>
									<value>Nuts &amp; Seeds</value>
									<value>Office</value>
									<value>Office Supplies</value>
									<value>Paper &amp; Packaging</value>
									<value>Paper Products</value>
									<value>Parks &amp; Facilities</value>
									<value>Parts &amp; Supplies</value>
									<value>Personal Care</value>
									<value>Petroleum</value>
									<value>Pharmacies</value>
									<value>Photography</value>
									<value>Plastic Products</value>
									<value>Plastic Resin</value>
									<value>Political</value>
									<value>Printed Products</value>
									<value>Printing Services</value>
									<value>Production Services</value>
									<value>Products &amp; Wholesale</value>
									<value>Professional</value>
									<value>Property Management</value>
									<value>Providers</value>
									<value>Public Safety</value>
									<value>Publisher</value>
									<value>Radio</value>
									<value>Rail</value>
									<value>Recycle</value>
									<value>Refining</value>
									<value>Religious</value>
									<value>Rental &amp; Leasing</value>
									<value>Research</value>
									<value>Residential</value>
									<value>Retail</value>
									<value>Retail Stores</value>
									<value>Sanitation</value>
									<value>Seafood</value>
									<value>Security</value>
									<value>Semiconductor</value>
									<value>Services</value>
									<value>Ship Building</value>
									<value>Social Services</value>
									<value>Software Applications</value>
									<value>Space</value>
									<value>Special Interest</value>
									<value>Specialty Stores</value>
									<value>Spirits</value>
									<value>Sporting Goods</value>
									<value>Supplies</value>
									<value>Technical</value>
									<value>Telephone</value>
									<value>Test &amp; Measurement</value>
									<value>Textile Products</value>
									<value>Tobacco</value>
									<value>Tools</value>
									<value>Toy &amp; Hobby</value>
									<value>Transmission</value>
									<value>Trucking</value>
									<value>Unclassified</value>
									<value>Unions</value>
									<value>University</value>
									<value>Vehicle Dealers</value>
									<value>Vending</value>
									<value>Vocational</value>
									<value>Warehousing</value>
									<value>Water</value>
								</values>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Primary SIC Code</name>
								<id>primary_sic</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Primary NAICS Code</name>
								<id>primary_naics</id>
							</attribute>
							<attribute customizable="1">
								<type>string</type>
								<name>Employee Band</name>
								<id>employee_range</id>
								<values>
									<value>Unknown</value>
									<value>Small</value>
									<value>Mid-Market</value>
									<value>Enterprise</value>
								</values>
							</attribute>
							<attribute customizable="0">
								<type>int</type>
								<name>Employee Count</name>
								<id>employee_count</id>
							</attribute>
							<attribute customizable="1">
								<type>string</type>
								<name>Revenue Band</name>
								<id>revenue_range</id>
								<values>
									<value>Unknown</value>
									<value>$1 - $1M</value>
									<value>$1M - $5M</value>
									<value>$5M - $10M</value>
									<value>$10M - $25M</value>
									<value>$25M - $50M</value>
									<value>$50M - $100M</value>
									<value>$100M - $250M</value>
									<value>$250M - $500M</value>
									<value>$500M - $1B</value>
									<value>$1B - $2.5B</value>
									<value>$2.5B - $5B</value>
									<value>Over $5B</value>
								</values>
							</attribute>
							<attribute customizable="0">
								<type>int</type>
								<name>Annual Revenue</name>
								<id>annual_sales</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>City</name>
								<id>city</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>State</name>
								<id>state</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Zip/Postal Code</name>
								<id>zip</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Country Code</name>
								<id>country</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Country Name</name>
								<id>country_name</id>
							</attribute>
							<attribute customizable="0">
								<type>float</type>
								<name>Latitude</name>
								<id>latitude</id>
							</attribute>
							<attribute customizable="0">
								<type>float</type>
								<name>Longitude</name>
								<id>longitude</id>
							</attribute>
							<attribute customizable="0">
								<type>bool</type>
								<name>B2B</name>
								<id>b2b</id>
							</attribute>
							<attribute customizable="0">
								<type>bool</type>
								<name>B2C</name>
								<id>b2c</id>
							</attribute>
							<attribute customizable="0">
								<type>bool</type>
								<name>Fortune 1000</name>
								<id>fortune_1000</id>
							</attribute>
							<attribute customizable="0">
								<type>bool</type>
								<name>Forbes 2000</name>
								<id>forbes_2000</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Website</name>
								<id>web_site</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Stock Ticker</name>
								<id>stock_ticker</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Website Traffic Level</name>
								<id>traffic</id>
								<values>
									<value>Very High</value>
									<value>High</value>
									<value>Medium</value>
									<value>Low</value>
								</values>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>IP Address</name>
								<id>ip</id>
							</attribute>
							<attribute customizable="0">
								<type>bool</type>
								<name>ISP</name>
								<id>isp</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Company Name</name>
								<id>company_name</id>
							</attribute>
							<attribute customizable="0">
								<type>int</type>
								<name>Demandbase SID</name>
								<id>demandbase_sid</id>
							</attribute>
							<attribute customizable="0">
								<type>string</type>
								<name>Marketing Alias</name>
								<id>marketing_alias</id>
							</attribute>
						</attributes>
					</AttributeRoot>
				</processor>
			</initialize>
		</pipelines>
		<commands>
			<command name="demandbase:mockip" type="SitecoreDemandbase.Commands.MockIp, SitecoreDemandbase" />
		</commands>
	</sitecore>
</configuration>